<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Michał Ziółecki UMK Thesis - LogITApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">LogIT Web</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    th:href="@{/users}">Users<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/users}">Show Users</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    th:href="@{/kl-msg}">Keylogger<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/kl-msg}">Messages</a></li>
                    <li><a th:href="@{/kl-filters}">Filters</a></li>
                    <li><a th:href="@{/kl-settings}">Settings</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    th:href="@{/tracked-devices}">Periphery Tracking<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/tracked-devices}">Device tracking</a></li>
                    <li><a th:href="@{/cached-disk-info}">Cached Disks Information</a></li>
                    <li><a th:href="@{/scanned-disks-info}">Scanned Disks Information</a></li>
                    <li><a th:href="@{/block-usb}">Block USB</a></li>
                    <li><a th:href="@{/track-usb-set}">Track USB Settings</a></li>
                    <li><a th:href="@{/track-disk-drivers-set}">Track Disk Drivers Settings</a></li>
                    <li><a th:href="@{/untracked-partitions}">Untracked Disks Partitions</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h3 align="center">LogIT Add untracked partition</h3>
    <h3 align="center" th:text="'  User: ' + ${user.userName}">LogIT User</h3>
</div>

<br>
<form action="/addUntrackedPartition" method="post" style="margin-left: 25%; width: 50%; align-content: center; ">
    <input type="hidden" class="form-control" name="id" id="id">
    <input type="hidden" class="form-control" th:value="${user.id}" name="user" id=" user">
    <select class="form-control" id="diskName" name="diskName">
        <option value="A:">A:</option>
        <option value="B:">B:</option>
        <option value="C:">C:</option>
        <option value="D:">D:</option>
        <option value="E:">E:</option>
        <option value="F:">F:</option>
        <option value="G:">G:</option>
        <option value="H:">H:</option>
        <option value="I:">I:</option>
        <option value="J:">J:</option>
        <option value="K:">K:</option>
        <option value="L:">L:</option>
        <option value="M:">M:</option>
        <option value="N:">N:</option>
        <option value="O:">O:</option>
        <option value="P:">P:</option>
        <option value="R:">R:</option>
        <option value="S:">S:</option>
        <option value="T:">T:</option>
        <option value="U:">U:</option>
        <option value="W:">W:</option>
        <option value="Q:">Q:</option>
        <option value="X:">X:</option>
        <option value="Y:">Y:</option>
        <option value="Z:">Z:</option>
    </select>
    <br>
    <button type="submit" class="btn btn-default" style="align-content: center; margin-left: 40%; width: 20%">Submit</button>
</form>

</body>
</html>
