<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Michał Ziółecki UMK Thesis - LogITApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">LogIT Web</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    th:href="@{/users}">Users<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/users}">Show Users</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    th:href="@{/kl-msg}">Keylogger<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/kl-msg}">Messages</a></li>
                    <li><a th:href="@{/kl-filters}">Filters</a></li>
                    <li><a th:href="@{/kl-settings}">Settings</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    th:href="@{/tracked-devices}">Periphery Tracking<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/tracked-devices}">Device tracking</a></li>
                    <li><a th:href="@{/cached-disk-info}">Cached Disks Information</a></li>
                    <li><a th:href="@{/scanned-disks-info}">Scanned Disks Information</a></li>
                    <li><a th:href="@{/block-usb}">Block USB</a></li>
                    <li><a th:href="@{/track-usb-set}">Track USB Settings</a></li>
                    <li><a th:href="@{/track-disk-drivers-set}">Track Disk Drivers Settings</a></li>
                    <li><a th:href="@{/untracked-partitions}">Untracked Disks Partitions</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h3 align="center">Cached All devices</h3>
</div>

<br>
<div class="container" style="text-align: center" align="center">
    <table class="table">
        <thead>
        <tr>
            <th style="text-align: center">Id device in DB</th>
            <th style="text-align: center">User Name</th>
            <th style="text-align: center">Cached Date</th>
            <th style="text-align: center">Recognize Inf.</th>
            <th style="text-align: center">Operation</th>
            <th style="text-align: center">Device Name</th>
            <th style="text-align: center">Description</th>
            <th style="text-align: center">Inventor</th>
            <th style="text-align: center">Device ID</th>
            <th style="text-align: center">GUID</th>
            <th style="text-align: center">Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cachedDevice : ${cachedDevices}">
            <td style="text-align: center" align="center" th:text="${cachedDevice.id}">Id user settings</td>
            <td style="text-align: center" align="center" th:text="${cachedDevice.user.userName}">User Name</td>
            <td style="text-align: center" align="center" th:text="${cachedDevice.date}">01.01.0001</td>
            <td style="text-align: center" align="center" th:text="${cachedDevice.recognizeInfo}"></td>
            <td style="text-align: center" align="center" th:text="${cachedDevice.operationStatus}"></td>
            <td style="text-align: center" align="center" th:text="${cachedDevice.deviceName}"></td>
            <td style="text-align: center" align="center" th:text="${cachedDevice.description}"></td>
            <td style="text-align: center" align="center" th:text="${cachedDevice.inventor}"></td>
            <td style="text-align: center" align="center" th:text="${cachedDevice.deviceId}"></td>
            <td style="text-align: center" align="center" th:text="${cachedDevice.guid}"></td>
            <td style="text-align: center" align="center" th:text="${cachedDevice.deviceType}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
