<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Michał Ziółecki UMK Thesis - LogITApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">LogIT Web</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    th:href="@{/users}">Users<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/users}">Show Users</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    th:href="@{/kl-msg}">Keylogger<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/kl-msg}">Messages</a></li>
                    <li><a th:href="@{/kl-filters}">Filters</a></li>
                    <li><a th:href="@{/kl-settings}">Settings</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    th:href="@{/tracked-devices}">Periphery Tracking<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/tracked-devices}">Device tracking</a></li>
                    <li><a th:href="@{/cached-disk-info}">Cached Disks Information</a></li>
                    <li><a th:href="@{/scanned-disks-info}">Scanned Disks Information</a></li>
                    <li><a th:href="@{/block-usb}">Block USB</a></li>
                    <li><a th:href="@{/track-usb-set}">Track USB Settings</a></li>
                    <li><a th:href="@{/track-disk-drivers-set}">Track Disk Drivers Settings</a></li>
                    <li><a th:href="@{/untracked-partitions}">Untracked Disks Partitions</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h3 align="center">Michał Ziółecki - Praca dyplomowa pt.:</h3>
    <p align="center">APLIKACJA ŚLEDZĄCA PERYFERIA UŻYTKOWNIKA ORAZ KEYLOGGER REJESTRUJĄCY KLAWIATURĘ</p>
</div>

<div class="container">
    <img src="LogITLogo3.png"   class="img-responsive center-block" alt="LogITApp logo">
</div>

</body>
</html>
