<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Michał Ziółecki UMK Thesis - LogITApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">LogIT Web</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    th:href="@{/users}">Users<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/users}">Show Users</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    th:href="@{/kl-msg}">Keylogger<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/kl-msg}">Messages</a></li>
                    <li><a th:href="@{/kl-filters}">Filters</a></li>
                    <li><a th:href="@{/kl-settings}">Settings</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    th:href="@{/tracked-devices}">Periphery Tracking<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/tracked-devices}">Device tracking</a></li>
                    <li><a th:href="@{/cached-disk-info}">Cached Disks Information</a></li>
                    <li><a th:href="@{/scanned-disks-info}">Scanned Disks Information</a></li>
                    <li><a th:href="@{/block-usb}">Block USB</a></li>
                    <li><a th:href="@{/track-usb-set}">Track USB Settings</a></li>
                    <li><a th:href="@{/track-disk-drivers-set}">Track Disk Drivers Settings</a></li>
                    <li><a th:href="@{/untracked-partitions}">Untracked Disks Partitions</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h3 align="center">Tracking USB Status</h3>
    <h3 align="center" th:text="'  User: ' + ${trackUSBSettings.user.userName}">LogIT User</h3>
</div>

<br>
<div class="container" style="text-align: center" align="center">
    <table class="table">
        <thead>
        <tr>
            <th style="text-align: center">Id track settings</th>
            <th style="text-align: center">User Name</th>
            <th style="text-align: center">Track USB Status</th>
            <th style="text-align: center">Scan USB Status</th>
            <th style="text-align: center">Update</th>
        </tr>
        </thead>
        <tbody>
        <td style="text-align: center" align="center" th:text="${trackUSBSettings.id}">Id user settings</td>
        <td th:text="${trackUSBSettings.user.userName}">User Name</td>
        <td style="text-align: center" align="center" >
            <span th:if="${trackUSBSettings.track}">True</span>
            <span  th:unless="${trackUSBSettings.track}">False</span>
        </td>
        <td style="text-align: center" align="center" >
            <span th:if="${trackUSBSettings.scan}">True</span>
            <span  th:unless="${trackUSBSettings.scan}">False</span>
        </td>
        <td style="text-align: center" align="center"><a th:href="@{'/update-usb-track-settings?id=' + ${trackUSBSettings.id}}">
            <span class="glyphicon glyphicon-pencil"></span>
        </a></td>
        </tbody>
    </table>
</div>

</body>
</html>
