<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Michał Ziółecki UMK Thesis - LogITApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">LogIT Web</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    th:href="@{/users}">Users<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/users}">Show Users</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    th:href="@{/kl-msg}">Keylogger<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/kl-msg}">Messages</a></li>
                    <li><a th:href="@{/kl-filters}">Filters</a></li>
                    <li><a th:href="@{/kl-settings}">Settings</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    th:href="@{/tracked-devices}">Periphery Tracking<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/tracked-devices}">Device tracking</a></li>
                    <li><a th:href="@{/cached-disk-info}">Cached Disks Information</a></li>
                    <li><a th:href="@{/scanned-disks-info}">Scanned Disks Information</a></li>
                    <li><a th:href="@{/block-usb}">Block USB</a></li>
                    <li><a th:href="@{/track-usb-set}">Track USB Settings</a></li>
                    <li><a th:href="@{/track-disk-drivers-set}">Track Disk Drivers Settings</a></li>
                    <li><a th:href="@{/untracked-partitions}">Untracked Disks Partitions</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h3 align="center">Set Tracking USB Statuses</h3>
    <h3 align="center" th:text="'  User: ' + ${trackDiskDriversSettings.user.userName}">LogIT User</h3>
</div>
<br>
<form action="/updatedDiskDriversTrackSettings" method="post" style="margin-left: 25%; width: 50%; align-content: center; ">
    <input type="hidden" class="form-control" th:value="${trackDiskDriversSettings.id}" name="id" id="id">
    <input type="hidden" class="form-control" th:value="${trackDiskDriversSettings.user.id}" name="user" id=" user">
    <div class="input-group mb-3" style="width:100%; align-content: center; ">
        <div class="input-group-prepend">
            <label class="input-group-text" for="track">Track Status</label>
        </div>
        <select th:field="${trackDiskDriversSettings.track}"  class="form-control" id="track" name="track">
            <option value="1">True</option>
            <option value="0">False</option>
        </select>
    </div>
    <div class="input-group mb-3" style="width:100%; align-content: center; ">
        <div class="input-group-prepend">
            <label class="input-group-text" for="track">Scan Status</label>
        </div>
        <select th:field="${trackDiskDriversSettings.scan}"  class="form-control" id="scan" name="scan">
            <option value="1">True</option>
            <option value="0">False</option>
        </select>
    </div>
    <br>
    <button type="submit" class="btn btn-default" style="align-content: center; margin-left: 40%; width: 20%">Submit</button>
</form>


</body>
</html>
