<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Michał Ziółecki UMK Thesis - LogITApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">LogIT Web</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    th:href="@{/users}">Users<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/users}">Show Users</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    th:href="@{/kl-msg}">Keylogger<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/kl-msg}">Messages</a></li>
                    <li><a th:href="@{/kl-filters}">Filters</a></li>
                    <li><a th:href="@{/kl-settings}">Settings</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    th:href="@{/tracked-devices}">Periphery Tracking<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/tracked-devices}">Device tracking</a></li>
                    <li><a th:href="@{/cached-disk-info}">Cached Disks Information</a></li>
                    <li><a th:href="@{/scanned-disks-info}">Scanned Disks Information</a></li>
                    <li><a th:href="@{/block-usb}">Block USB</a></li>
                    <li><a th:href="@{/track-usb-set}">Track USB Settings</a></li>
                    <li><a th:href="@{/track-disk-drivers-set}">Track Disk Drivers Settings</a></li>
                    <li><a th:href="@{/untracked-partitions}">Untracked Disks Partitions</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container" >
   <h3 align="center" th:text="'  User: ' + ${user.userName}">LogIT User</h3>
</div>

<div class="container" style="text-align: center">
    <div class="container" style="text-align: center">
        <h4 align="center">Keylogger options:</h4>
        <br>
        <button th:onclick="|window.location.href='/kl-msg?id=${user.id}'|" type="button" style="text-align: center" class="btn btn-dark">
            Messages
        </button>
        <button type="button" th:onclick="|window.location.href='/kl-filters?id=${user.id}'|" style="text-align: center" class="btn btn-dark">
            Filters
        </button>
        <button type="button" th:onclick="|window.location.href='/kl-settings?id=${user.id}'|" style="text-align: center" class="btn btn-dark">
            Settings
        </button>
    </div>
    <br>
    <div class="container" style="text-align: center">
        <h4 align="center">Periphery Tracking options:</h4>
        <br>
        <button type="button" th:onclick="|window.location.href='/tracked-devices?id=${user.id}'|" style="text-align: center" class="btn btn-dark">
            Device tracking
        </button>
        <button type="button" th:onclick="|window.location.href='/cached-disk-info?id=${user.id}'|" style="text-align: center" class="btn btn-dark">
            Cached Disks Information
        </button>
        <button type="button" th:onclick="|window.location.href='/scanned-disks-info?id=${user.id}'|" style="text-align: center" class="btn btn-dark">
            Scanned Disks Information
        </button>
    </div>
    <br>
    <div class="container" style="text-align: center">
        <button type="button" th:onclick="|window.location.href='/block-usb?id=${user.id}'|" style="text-align: center" class="btn btn-dark">
            Block USB
        </button>
        <button type="button" th:onclick="|window.location.href='/track-usb-set?id=${user.id}'|" style="text-align: center" class="btn btn-dark">
            Track USB Settings
        </button>
        <button type="button" th:onclick="|window.location.href='/track-disk-drivers-set?id=${user.id}'|" style="text-align: center" class="btn btn-dark">
            Track Disk Drivers Settings
        </button>
    </div>
    <br>
    <div class="container" style="text-align: center">
        <button type="button" th:onclick="|window.location.href='/untracked-partitions?id=${user.id}'|"
                style="text-align: center" class="btn btn-dark">
            Untracked Disks Partitions
        </button>
    </div>
</div>

<br>

</body>
</html>
